<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
    <link rel="stylesheet" href="{% static 'pageresume/css/index.css' %}">
    <script type="text/javascript" src="{% static 'pageresume/js/jquery-3.2.0.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'pageresume/js/index.js' %}"></script>   
    <meta charset="UTF-8">
    <title>Resume</title>
    <style>
        body {
    background-image: url("{% static 'pageresume/img/back.jpg' %}");
}
    </style>
</head>
<body>

<main class="col">

    <div id="but1" class="left-part">
        <img class="photo" src="{% static 'pageresume/img/photo2.jpg' %}" alt="photo">
        <h1 class="name">Имя Фамилия</h1>
        <h1 class="birthday">Дата рождения</h1>
        <h3 class="birthday">22.11.1990</h3>
    
    </div>
    
    <div class="right-part">
    
    </div>
    
</main>


</body>
</html>
